page-account-detail{
  #account-d-container1{
    background-color: #f8951d;
    color:white;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .recent-transaction-list{
    max-width: 100%;
    width:100%;
  }

  #account-d-container1 h6{
    margin-bottom: -15px !important;
    color: #D9CBB4 !important;
  }

  .scroll-content {
    padding: 0px !important;
  }

  .item-md{
    padding:0px;
  }
}
